fastapi==0.120.0
uvicorn==0.38.0
sqlalchemy==2.0.44
numpy==2.3.4
tensorflow==2.20.0
scikit-learn==1.7.2
pandas==2.3.3
twilio==9.8.4
firebase-admin==7.1.0
pydantic==2.12.3
httpx==0.28.1
yarl==1.22.0
idna==3.11
charset-normalizer==3.4.4
rich==14.2.0
typing-extensions==4.15.0
